<!DOCTYPE html>
<html>
    <head>
        <title>Jotes</title>
        <link rel="stylesheet" href="/public/font-awesome-470/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/notes/notes.css">
        <script src="/public/lodash/lodash.min.js"></script>
        <script src="/public/notes/notes.js"></script>
    <script src="/public/vue/vue.js"></script>
    </head>
    <body>
        <header>
            <nav class="navig">
                <ul>
                    <li class="links"><a href="#">About <i class="fa fa-address-book-o" aria-hidden="true"></i></a></li>
                    <li class="links"><a href="https://www.instagram.com/kui_van_bich/">Instagram <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="links"><a href="https://github.com/Jolken">GitHub <i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <div id="user" @click="login()"><img src="https://i.ytimg.com/vi/R51hIY7swcQ/maxresdefault.jpg" /></div>
                </ul>
            </nav>
        </header>
        <section class="notespace" id="notespace">
            <section class="right-panel">
            <div class="right-buttons">
                <i class="fa fa-refresh cursor" @click="loadNotes()"></i>
                <i class="fa fa-plus cursor" @click="addNote()"></i>
            </div>
            </section>
            
            <article v-for="note in notes" class="note" v-bind:id="note.id">
                <input v-model="note.title" class="noteTitle">
                <textarea class="noteText" v-model="note.text"></textarea>
                <div class="controlButtons">
                    <i class="fa fa-trash-o cursor" aria-hidden="true" @click="note.deleteNote()"></i>
                    <i class="fa fa-floppy-o cursor" aria-hidden="true" @click="note.saveNote()"></i>
                </article>
            </div>
        </section>
        
        <section class="right-panel">
            <div class="right-buttons">
                
            </div>
        </section>

    </body>

    
</html>